data/raw/** filter=lfs diff=lfs merge=lfs -text
data/silhouette/** filter=lfs diff=lfs merge=lfs -text
data/skeleton/** filter=lfs diff=lfs merge=lfs -text
data/imu/** filter=lfs diff=lfs merge=lfs -text
